<div class="jumbotron">
   <div class="top">
		<h1> Task Tracker</h1>
	
		<form action="/create" method="POST">
		<textarea type="text" placeholder="enter task here" name="task" id="enterTask"></textarea>
		<button type="submit" class="btn btn-primary">Add Task</button></form>
	</div>
</div>

<div id="task-container">         
	{{#each task}}	
	<div class="indyTask">
		
	
		<p> Task ID #{{this.id}} </p>
			<p id="taskText">{{this.task_description}} 
			<form action="/delete?_method=DELETE" method="POST" >
			<input name="id" value="{{this.id}}" type="hidden">
			<button class="btn btn-success"> Mark as complete </button>
			</form>
		</p>
<button onclick="idk();">Edit</button>
<div id="task-bottom">
	
	<form method="post" action="/update?_method=put">
            <input type="text" name="id" placeholder="id">
            <textarea name="task" placeholder="update your task here."></textarea>
            <button type="submit" class="btn btn-primary" >Edit</button>
	</form>
	
</div>
	</div>
	{{/each}}
</div>



<style>
	* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #D8DDE8;
    overflow-x: hidden;
}
.top {
    margin-left: 35px; 
}

h1{
	color: white !important;
}
#taskText{
	font-style: italic;
}

textarea{
	font-family: arial;
	color:black;
}

.jumbotron {
    color: orange;
    font-family: 'Lobster';
    background-color: #1547B3;
}

.submit {
	color: black;
	margin-top: 10px;
}

#task-container{
	padding-left: 35px;
		/*padding-right: 35px;*/

    }

.indyTask{
	padding-top: 15px;
	margin-bottom: 15px;
	background-color: white;
	padding-left: 5px;
		padding-bottom: 5px;

}
form {
	display: flex;
}

#task-bottom {
	  /*background-color: #1547B3;*/
	  	padding-left: 35px;

}

</style>


