* {
    padding: 0;
    margin: 0;
}

.jumbotron {
    color: white;
    font-family: 'Lobster';
    background-color: #1547B3;
}

#enterTask {
    font-family: arial;
    color: black;
    text-overflow: clip;
}

.btn-primary {
    background-color: #1547B3;
}

#add {
    color: black;
}

body {
    background-color: #D8DDE8;
    overflow-x: hidden;
}

.tasks {
    padding-top: 20px;
    background-color: white;
    margin-bottom: 5px;
    /*background: -webkit-linear-gradient(top, white , #D8DDE8);*/
}

h1 {
    padding-left: 20px;
}

.top {
    margin-left: 35px;
}


/*#taskHere {

    padding-left: 20px;
}
*/

